@import 'tailwindcss';
@plugin '@iconify/tailwind4';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans: var(--font-noto-sans-jp);
}

@theme {
  --color-default-text: var(--color-gray-900);
  --color-default-text-dark: var(--color-gray-100);
  --color-default-bg: var(--color-white);
  --color-default-bg-dark: var(--color-slate-950);
  --color-primary-950: var(--color-indigo-950);
  --color-primary-900: var(--color-indigo-900);
  --color-primary-800: var(--color-indigo-800);
  --color-primary-700: var(--color-indigo-700);
  --color-primary-600: var(--color-indigo-600);
  --color-primary-500: var(--color-purple-500);
  --color-primary-400: var(--color-purple-400);
  --color-primary-300: var(--color-purple-300);
  --color-primary-200: var(--color-purple-200);
  --color-primary-100: var(--color-purple-100);
  --color-primary-50: var(--color-purple-50);
  --transition-property-bg: background-color;
}

:root {
  @apply bg-default-bg dark:bg-default-bg-dark text-default-text dark:text-default-text-dark font-sans transition-bg;
}

h1 {
  @apply mb-3 text-3xl font-bold pb-1 border-b border-gray-900 dark:border-gray-100;
}

h2 {
  @apply my-2 text-2xl font-semibold pb-1 border-b border-gray-900 dark:border-gray-100;
}
h3 {
  @apply my-2 text-xl font-medium;
}
p {
  @apply my-1 leading-relaxed;
}

@utility chip {
  @apply bg-primary-200 dark:bg-primary-900 px-2 py-1 rounded hover:bg-primary-300 dark:hover:bg-primary-700 transition-bg duration-300 whitespace-nowrap data-copy:cursor-pointer data-copy:before:icon-[mdi--content-copy] data-copy:before:mr-1 data-copy:before:text-lg data-copy:before:align-middle;
}

@utility prose-black {
  --tw-prose-body: var(--color-gray-900);
  --tw-prose-counters: var(--color-gray-700);
  --tw-prose-bullets: var(--color-gray-700);
  --tw-prose-invert-body: var(--color-gray-100);
  --tw-prose-invert-counters: var(--color-gray-300);
  --tw-prose-invert-bullets: var(--color-gray-300);
}
