@import 'tailwindcss';
@plugin '@iconify/tailwind4';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  @apply bg-purple-50 dark:bg-gray-950 text-gray-900 dark:text-gray-100 font-sans;
}

@utility prose-black {
  --tw-prose-body: var(--color-gray-900);
  --tw-prose-counters: var(--color-gray-700);
  --tw-prose-bullets: var(--color-gray-700);
  --tw-prose-invert-body: var(--color-gray-100);
  --tw-prose-invert-counters: var(--color-gray-300);
  --tw-prose-invert-bullets: var(--color-gray-300);
}
